.collectionGameImg {
    width: 250px;
    height: 175px;
    object-fit: cover;
}

.collectionGameTitle {
    color: white;
    text-align: center;
    width: 250px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.collectionHeader {
    color: white;
    width: 80%;
    margin: auto;
}

.collectionList {
    border: 3px solid #7F5A83;
    background: rgba(13, 50, 77, 0.75);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    height: 475px;
    overflow-y: auto;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
}

.collectionGameContainer {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    height: 270px;
    background-color: #0d324d;
    box-shadow: 0px 0px 15px 1px #7F5A83;
}