.createGroupForm {
    background: rgba(13, 50, 77, 0.75);
    box-shadow: 0px 0px 15px 5px #7F5A83;
    width: 80%;
    height: 475px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createGroupHeader {
    color: white;
}

.createGroupForm label {
    color: white;
}

#groupNameInput, #gameDropdown, #logoDropdown  {
    width: 300px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#descInput {
    width: 400px;
    height: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.buttonBox {
    align-self: flex-end;
}

#submitNewGroup, #cancelCreateGroup {
    margin-right: 25px;
}