.detailsContainer {
    width: 80%;
    margin: auto;
    background: rgba(13, 50, 77, 0.75);
    box-shadow: 0px 0px 15px 5px #7F5A83;
    display: flex;
    height: 500px;
    align-items: center;
    margin-top: 30px;
}

.groupLogoBox {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.groupLogo {

}

.groupInfoBox {
    margin-left: 200px;
    flex-grow: 1;
    height: 100%;
    margin-right: 30px;
}

.groupName {
    background-image: linear-gradient(
	to right,
	#462523 0,
    #cb9b51 2%, 
	#f6e27a 45%,
	#f6f2c0 50%,
	#f6e27a 55%,
	#cb9b51 98%,
	#462523 100%
	);
    color:transparent;
    background-clip: text;
    -webkit-background-clip:text;
    display: inline-block;
    margin-top: 30px;
}

.groupGame {
    color: white;
    margin-bottom: 40px;
    margin-top: 0;
}

.groupDesc {
    color: white;
    background-color: #0d324d;
    box-shadow: 0px 0px 15px 1px #7F5A83;
    padding: 5px;
    height: 230px;
}

.buttonBox {
    display: flex;
    justify-content: space-between;
}