.contentAndButton {
    display: flex;
    flex-direction: column;
    background: rgba(13, 50, 77, 0.75);
    box-shadow: 0px 0px 15px 5px #7F5A83;
    margin: auto;
    margin-top: 40px;
    width: 80%;
    height: 475px;
    overflow-y: auto;
}

.gameDetailsContainer {
    display: flex;
}

.titleImgBox {
    margin-left: 20px;
}

.gameTitle {
    color: white;
    margin-left: 20px;
}

.gameImg {
    width: 250px;
    height: 250px;
    object-fit: cover;
}



.descriptionBox {
    margin: 20px;
    margin-top: 0;
}

.descriptionTitle {
    color: white;
    font-weight: bold;
}

.descriptionBox p {
    color: white;
}

#addCollection, #removeCollection {
    width: fit-content;
    align-self: flex-end;
    margin: 20px;
    margin-top: 0;
}

.reviewSection {
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}

.reviewHeaderBox {
    display: flex;
}

.reviewHeaderBox a {
    justify-self: center;
    align-self: center;
}

.reviewTitle {
    color: white;
    flex-grow: 1;
}

.reviewList {
    background: rgba(13, 50, 77, 0.75);
    box-shadow: 0px 0px 15px 5px #7F5A83;
    display: flex;
    flex-direction: column;
    height: 350px;
    overflow-y: auto;
}

.reviewCard {
    background-color: #0d324d;
    box-shadow: 0px 0px 15px 1px #7F5A83;
    margin: 15px;
    display: flex;
}

.buttonsBox {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.reviewUser {
    flex-grow: 1;
    justify-self: center;
    align-self: center;
    text-align: center;
    color: white;
}

.userReview {
    width: 80%;
    height: 100px;
    overflow-y: auto;
    color: white;
}

#editReview, #deleteReview {
    width: fit-content;
    margin: 5px;
    justify-self: center;
    align-self: center;
}

#writeReview {
    width: fit-content;
    height: fit-content;
    align-self: center;
    justify-self: flex-end;
}

.createReview {
    background: rgba(13, 50, 77, 0.75);
    box-shadow: 0px 0px 15px 5px #7F5A83;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    height: 350px;
    justify-content: space-between;
    margin-top: 30px;
}

.createReviewTitle {
    text-align: center;
    color: white;
}

#reviewInputField {
    width: 70%;
    height: 150px;
    margin: auto;
    margin-top: 25px;
    color: white;
    background: rgba(6, 29, 46, 0.75);
    border: 1px solid #7F5A83;
    font: 1em sans-serif;
}

#submitReview {
    width: fit-content;
    align-self: flex-end;
    margin: 10px;
}