#groupSearch {
    width: 200px;
    height: 30px;
    border-radius: 25px;
    font-size: larger;
    background: rgba(13, 50, 77, 0.75);
    box-shadow: 0px 0px 15px 5px #7F5A83;
    color: white;
    border: none;
    margin-left: 10px;
}

#newGroupButton, #seeAllGroups {
    padding: 5px;
    height: 35px;
    margin-left: 10px;
}

.groupsPage {
    width: 80%;
    margin: auto;
}

.groupsHeader {
    display: flex;
    margin-bottom: 10px;
}

.groupsTitle {
    color: white;
    margin: 0;
}

.rightAlign {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.groupsList {
    border: 3px solid #7F5A83;
    background: rgba(13, 50, 77, 0.75);
    height: 450px;
    overflow-y: auto;
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.groupsListCard {
    background-color: #0d324d;
    box-shadow: 0px 0px 15px 1px #7F5A83;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 275px;
    height: 335px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.groupsListImg {
    height: 175px;
    width: 175px;
    margin-top: 15px;
}

.groupsListName {
    background-image: linear-gradient(
	to right,
	#462523 0,
    #cb9b51 22%, 
	#f6e27a 45%,
	#f6f2c0 50%,
	#f6e27a 55%,
	#cb9b51 78%,
	#462523 100%
	);
    color:transparent;
    background-clip: text;
    -webkit-background-clip:text;
    width: 250px;
    text-align: center;
    margin-bottom: 0;
}

.groupsListGame {
    color: white;
    width: 250px;
    text-align: center;
}