.myReviewsContainer {
    width: 80%;
    margin: auto;
}

.myReviewsHeader {
    color: white;
}

.myReviewsList {
    border: 3px solid #7F5A83;
    background: rgba(13, 50, 77, 0.75);
    height: 400px;
    overflow-y: auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.myReviewsCard {
    background-color: #0d324d;
    box-shadow: 0px 0px 15px 1px #7F5A83;
    width: 90%;
    margin: auto;
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;

}

.myReviewsImg {
    width: 250px;
    height: 175px;
    object-fit: cover;
}

.reviewTextBox {
    width: 100%;
    height: 175px;
    overflow-y: auto;
}

.myReviewsGame {
    color: white;
    margin-top: 5px;
    text-align: center;
}

.myReviewsContent {
    color: white;
    margin: 5px;
}