.navbar {
    display: flex;
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #7f5a83;
    background-image: linear-gradient(90deg, #7f5a83 0%, #0d324d 74%);    
    margin-top: 0;
    list-style-type: none;
}

.navItem {
    margin-left: 10px;
    margin-right: 10px;
}