.articleImg {
    width: 175px;
    height: 175px;
    object-fit: cover;
    
}

.newsHeader {
    width: 80%;
    margin: auto;
    margin-bottom: 5px;
}

.articleTitle, .articlePreview, .newsHeader {
    color:white;
}

.articlesList {
    border: 3px solid #7F5A83;
    background: rgba(13, 50, 77, 0.75);
    width: 80%;
    height: 450px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: auto;
    margin-bottom: 50px;
}

.articleCard {
    width: 45%;
    display: flex;
    margin: 15px;
    background-color: #0d324d;
    box-shadow: 0px 0px 15px 1px #7F5A83;
    text-decoration: none;
}

.cardTextContainer {
    margin-left: 10px;
    margin-right: 5px;
}

.gamespotLink {
    color: #7F5A83;
}