.newGameImg {
    height: 175px;
    width: 295px;
    object-fit: cover;
}

.newGameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #0d324d;
    box-shadow: 0px 0px 15px 1px #7F5A83;
    height: 263px;
}

.newGameTitle {
    width: 85%;
    text-align: center;
}

.newGameTitle, .recentAddHeader {
    color: white;
}

.recentAddHeader {
    width: 80%;
    margin: auto;
    margin-bottom: 5px;
}

.recentAddList {
    border: 3px solid #7F5A83;
    background: rgba(13, 50, 77, 0.75);
    display: flex;
    overflow-x: auto;
    width: 77%;
    margin: auto;
    margin-bottom: 50px;
    padding: 25px;
    align-items: center;
}

.link2Library {
    color: #7F5A83;
    display: inline-block;
    width: 100px;
}